<h1>Opinions</h1><br>

  <% if user_signed_in? %>
    <h4>Say something:</h4><br>
      <%= render 'opinions/form' %>
  <% end %>

    <ul class="list-unstyled">
      <% @opinions.each do | opinions | %>
          <li class="panel panel-default"><%= opinions.user.fullname %> <small>@<%= opinions.user.username %></small>
          <%= opinions.created_at.strftime("#{opinions.created_at.day.ordinalize} %b %Y") %>
          <%= opinions.body %>
        <% if user_signed_in? && current_user.id == opinions.user_id %>
          <%= link_to 'Show', opinions %>
          <%= link_to 'Edit', edit_opinion_path(opinions) %>
          <%= link_to 'Destroy', opinions, method: :delete, data: { confirm: 'Are you sure?' } %></li>
        <% end %>
      <% end %>
    </ul>

<br>

<% if user_signed_in? %>
  <%= link_to 'New Opinion', new_opinion_path %>
<% end %>
