<h1>Opinions</h1><br>

  <% if user_signed_in? %>
    <h4>Say something:</h4><br>
      <%= render 'form' %>
  <% end %>

    <ul class="list-unstyled">
      <% @opinions.each do | opinions | %>
        <div class="panel panel-default">
          <li class="panel-heading">
            <image class="profile-picture4"<%= image_tag opinions.user.photo %>
            <%= opinions.user.fullname %>
            <small>@<%= opinions.user.username %></small>
            <small class="text-right"> | 
            <%= opinions.created_at.strftime("#{opinions.created_at.day.ordinalize} %b %Y") %>
            </small>
          <li class="panel-body"><%= opinions.body %></li>
            <% if user_signed_in? && current_user.id == opinions.user_id %>
              <li class="panel-footer text-right h6">
                <%= link_to edit_opinion_path(opinions) do %>
                <i class="fa fa-edit"></i>
                <% end %>
                <%= link_to opinions, method: :delete, data: { confirm: 'Are you sure?' } do %>
                <i class="fa fa-trash"></i>
                <% end %>
              </li>
            <% end %>
        </div>
      <% end %>
    </ul>

