<h1>Opinions</h1><br>

<table>
  <thead>
    <tr>
      <th>Say something:</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @opinions.each do | opinions | %>
      <tr>
        <td><%= opinions.user.fullname %> <small>@<%= opinions.user.username %></small></td>
        <td><%= opinions.created_at.strftime("#{opinions.created_at.day.ordinalize} %b %Y") %></td>
        <td><%= opinions.body %></td>
      <% if user_signed_in? && current_user.id == opinions.user_id %>
        <td><%= link_to 'Show', opinions %></td>
        <td><%= link_to 'Edit', edit_opinion_path(opinions) %></td>
        <td><%= link_to 'Destroy', opinions, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  <% end %>
  </tbody>
</table>

<br>

<% if user_signed_in? %>
  <%= link_to 'New Opinion', new_opinion_path %>
<% end %>
