<div class="d-flex flex-column align-items-center">
  <image class="profile-picture2"<%= image_tag display_photo %>
    <h3 class="text-center h4"><%= @user.fullname %></h3>
    <h3 class="text-center h4">@<%= @user.username %></h3>
</div>

<div class="nav-panel">
  <div class="d-flex justify-content-between">
    <span class="text-center h5"><%= @user.opinions.count %><br> Opinions </span>
    <span class="text-center h5"><%= @user.followees.count %><br> Following </span>
    <span class="text-center h5"><%= @user.followers.count %><br> Followers </span>
  </div>
</div>

<section class="d-flex justify-content-center">
  <% if @user.id == current_user.id %>
    <% elsif current_user.followees.include?(@user) %>
      <h5 class="btn"><%= button_to "Unfollow", unfollow_path, method: "POST" %></h5>
    <% else %>
      <h5 class="btn"><%= button_to "Follow", follow_path, method: "POST"  %></h5>
    <% end %>
  <br>
</section>